<div class="container-fluid vh-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-4">
      <div class="card shadow-lg animated-card">
        <div class="card-body">
          <h2 class="text-center mb-4">Welcome</h2>
          <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" required>
              <button type="submit" class="btn btn-primary btn-block mt-1">Login</button>

            </div>
          </form>
          <div class="text-center mt-3">
            <a href="#">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
